<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sitecoreFileBrowser>
      <authenticationProvider type="SitecoreFileBrowser.Security.ChapAuthenticationProvider, SitecoreFileBrowser">
        <!-- at least 64 characters
        Need some randomness? Try here: https://www.random.org/passwords/?num=5&len=24&format=html&rnd=new
        -->
        <sharedSecret>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</sharedSecret>
        <challengeDatabase>web</challengeDatabase>
      </authenticationProvider>

      <enabled>true</enabled>
      <route>/SitecoreFileBrowser.aspx</route>
      <browseCacheInMinutes>10</browseCacheInMinutes>
      
      <machineRepository type="SitecoreFileBrowser.Browse.Data.InMemoryMachineRepository, SitecoreFileBrowser" />
      <fileBrowser type="SitecoreFileBrowser.Browse.RelativeFileBrowser, SitecoreFileBrowser" />

    </sitecoreFileBrowser>

    <pipelines>
      <httpRequestBegin>
        <!-- patch after user resolver so we have the option to allow a UI for an admin user at some point -->
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']" type="SitecoreFileBrowser.ExecuteCommandPipelineProcessor, SitecoreFileBrowser">
          <param desc="route" ref="sitecoreFileBrowser/route"/>
        </processor>
      </httpRequestBegin>
    </pipelines>

  </sitecore>
</configuration>